<footer>
  <nav>
    <ul>
      <li><a href="/registro">Registro</a></li>
      <li><a href="/propietarios">Propietarios</a></li>
      <li><a href="/propiedades">Propiedades</a></li>
    </ul>
  </nav>
</footer>