<h1>Registro de personas</h1>
<form id="formRegistro">
  <input type="text" name="nombre" placeholder="nombre" required>
  <input type="text" name="apellido" placeholder="apellido" required>
  <input type="number" name="edad" placeholder="edad" min="1" max="120" required>
  <input type="submit" value="Registrar">
</form>
<script src="/static/js/registro.js"></script>