<h1>Propietarios</h1>
{{#if hayPropietarios}}
<ul>
  {{#each propietarios}}
  <li>Nombre: <a href="/propietarios?id={{this._id}}">{{this.nombre}}</a></li>
  {{/each}}
</ul>
{{else}}
<p>No hay propietarios para mostrar</p>
{{/if}}
<script src="/static/js/propietarios.js"></script>