<h1>Carga de propietarios</h1>
<form>
  <input type="text" name="nombre" id="" placeholder="nombre" required>
  <input type="text" name="telefono" id="" placeholder="telefono" required>
  <input type="text" name="email" id="" placeholder="email" required>
  <button type="submit">Registrar</button>
</form>
<script src="/static/js/registroPropietarios.js"></script>