<h1>Sign up</h1>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" id="username" name="username" placeholder="username" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="password"><br>
  </div>
  <div class="form-group">
    <label for="displayName">Full name</label>
    <input id="displayName" name="displayName" type="text" placeholder="full name" autocomplete="on"><br>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" name="email" type="text" placeholder="email" autocomplete="on"><br>
  </div>
  <button type="submit">Register</button>
</form>

<script src="/static/js/register.js"></script>