<h1>Propiedades</h1>
{{#if hayPropiedades}}
<ul>
  {{#each propiedades}}
  <li>Direccion: {{this.direccion}}. Cantidad de ambientes: {{this.cantAmbientes}} (<a
      href="/propiedades?id={{this._id}}">ver</a>)</li>
  {{/each}}
</ul>
{{else}}
<p>No hay propiedades para mostrar</p>
{{/if}}