<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="/static/js/script.js"></script>
  <title>{{titulo}}</title>
</head>

<body>
  {{{body}}}
</body>

</html>